.table-t {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

    .table-t th, .table-t td {
        padding: 10px;
        vertical-align: middle;
        position: relative;
    }

    .table-t td {
        cursor: pointer;
    }

    .table-t .active td,
    .table-t > tbody .active th {
        background: #dfdddb;
    }
